.no-margin .katex-display
  margin 0
.left-aligned,
.left-aligned .katex-display,
.left-aligned .katex
  text-align left !important

.picture-steps,
.picture-steps > p
  .katex-display
    text-align left
  .bullet.math
  .bullet .math
    padding-top 1px
