// slide transitions
//------------------
@media screen
  .transition-sliding
    overflow hidden
    .bespoke-slide
      transform translate3d(0, 0, 0)
      transition transform $transition-duration $transition-easing, opacity 0.4s $transition-easing
    .bespoke-before
      transform translate3d(-101%, 0, 0)
    .bespoke-after
      transform translate3d(101%, 0, 0)

  .transition-subtle,
  .transition-subtle-to-right
      overflow hidden
    .bespoke-slide
      transform translate3d(0, 0, 0)
      transition transform $transition-duration $transition-easing, opacity $transition-duration $transition-easing
    .bespoke-before
      transform translate3d(-10%, 0, 0)
    .bespoke-after
      transform translate3d(10%, 0, 0)
  .transition-subtle-to-left
    overflow hidden
    .bespoke-slide
      transform translate3d(0, 0, 0)
    .bespoke-before
      transform translate3d(10%, 0, 0)
    .bespoke-after
      transform translate3d(-10%, 0, 0)
  .transition-subtle-to-bottom
    overflow hidden
    .bespoke-slide
      transform translate3d(0, 0, 0)
    .bespoke-before
      transform translate3d(0, -10%, 0)
    .bespoke-after
      transform translate3d(0, 10%, 0)
  .transition-subtle-to-top
    overflow hidden
    .bespoke-slide
      transform translate3d(0, 0, 0)
    .bespoke-before
      transform translate3d(0, 10%, 0)
    .bespoke-after
      transform translate3d(0, -10%, 0)


  .transition-giant-wheel
    overflow hidden
    .bespoke-slide
      transform translate3d(0, 0, 0)
      transition transform $transition-duration $transition-easing
      transform-origin 50% -100%
    .bespoke-before
      transform rotateZ(15deg)
    .bespoke-after
      transform rotateZ(-15deg)
  .transition-book
    overflow hidden
    .bespoke-slide
      transform translate3d(0, 0, 0)
      transition transform $transition-duration $transition-easing
      transform-origin 0 0
    .bespoke-before
      transform rotateY(-10deg)
    .bespoke-after
      transform rotateY(10deg)
