// font families
$font-family-serif = 'Maitree', times, serif
$font-family-sans = 'Roboto', 'San Francisco', helvetica, arial, sans-serif
$font-family-mono = 'Cousine', monospace

// layout
$slide-height = 600px
$slide-width = $slide-height * (16/9)
$root-font-size = 24px

// slide transitions
$transition-duration = 400ms
$transition-easing = ease

// colors
$presentation-color = #f7f9fb
$accent-color = #3507a3
$accent-color-alternate = #7b9c02
$emphatic-color = #3507a3
$link-color = #209934
$text-color = #333
$big-title-color = #6e8ae4
$regular-title-color = #000

// elements configuration
$definition-list-width = 10em
$definition-list-spacing = 0.5em
$table-border-color = gray
